<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
  <%- include("partials/nav") %>
  <title>Document</title>
</head>

<body>
  <%- include("partials/head") %>
</body>

</html>